.backgroundImage {
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.topContainer {
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    height: 70vh;
}

.bottomContainer {
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 30vh;
}

.rightContainer {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.164);
    height: 100%;
    width: 45%;
}

.leftContainer {
    /* background-color: rgba(255, 255, 255, 0.507); */
    height: 100%;
    width: 55%;
}